body {
    margin: 0;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/736x/2d/f1/17/2df117878c03d8731ff8e7c23658be1c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 3;
}

.ul1 {
    display: flex;
    list-style: none;
    z-index: 4;
    font-size: 20px;
    color: white;
    cursor: pointer;
    gap: 40px;
}

.li1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 32px;
    left: 50px;

}

.li2 {
    position: relative;
    left: 730px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    font-size: 25px;
}

.li3 {
    position: relative;
    left: 730px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    font-size: 25px;
}

.li4 {
    position: relative;
    left: 730px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    font-size: 25px;
}

.li5 {
    position: relative;
    left: 730px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    font-size: 25px;
}

.li6 {
    position: relative;
    left: 730px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    font-size: 25px;
}

.inp1 {
    border-radius: 25px;
    width: 330px;
    height: 45px;
    top: 20px;
    left: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    left: 60px;
    top: 150px;
}

input::placeholder {
    position: relative;
    left: 15px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.form1 {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 450px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    left: 820px;
    top: 110px;
}

.inp2 {
    border-radius: 25px;
    width: 330px;
    height: 45px;
    top: 20px;
    left: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    left: 60px;
    top: 200px;
}

.h11 {
    font-size: 40px;
    position: absolute;
    left: 170px;
    top: 15px;
    font-family: sans-serif;
    color: white;
}

.span1 {
    z-index: 4;
    color: white;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

b {
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}

.div1 {
    position: absolute;
    left: 925px;
    top: 600px;
}

.p1 {
    position: absolute;
    left: 850px;
    top: 510px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    border: 1px solid white;
    width: 400px;
    text-align: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 25px;
    height: 35px;
    padding-top: 13px;
}

.sp2 {
    position: relative;
    left: 1090px;
    bottom: 85px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}